<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="INFLUXDB_URL" value="http://localhost:8086"/>
    <add key="INFLUXDB_DATABASE_NAME" value="price"/>
    <add key="WRITE_INTERVAL_IN_SECONDS" value="2"/>
    <!--<add key="InfluxDB.Database.Name2" value="health"/>-->
  </appSettings>
</configuration>